In [60]:
#Importing Library 
#Importing Dataset
import pandas as pd
import matplotlib.pylab as plt
data = pd.read_excel("https://github.com/Bhaveshpanse29/Appointment-Scheduler-project/blob/main/final_data.xlsx?raw=true")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 26 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Sr_No.                                        1304 non-null   int64
 1   Patient ID                                    1304 non-null   object
 2   Agent ID                                      1304 non-null   int64
 3   pincode                                       1304 non-null   object
 4   patient location                              1304 non-null   object
 5   Latitudes and Longitudes (Patient)            1304 non-null   object
 6   Latitudes and Longitudes (Agent)              1304 non-null   object
 7   Latitudes and Longitudes (Diagnostic Center)  1304 non-null   object
 8   Diagnostic Centers                            1304 non-null   object
 9   Time slot                                     1304 non-null   object
 10  shortest distance Agent-Pathlab(m)            1304 non-null   int64
 11  shortest distance Patient-Pathlab(m)          1304 non-null   int64
 12  shortest distance Patient-Agent(m)            1304 non-null   int64
 13  Availabilty time (Patient)                    1304 non-null   object
 14  Age                                           1304 non-null   int64
 15  Gender                                        1304 non-null   object
 16  Test Booking Date                             1304 non-null   datetime64[ns]
 17  Test Booking Time HH:MM                       1304 non-null   object
 18  Test name                                     1304 non-null   object
 19  Sample                                        1304 non-null   object
 20  Way Of Storage Of Sample                      1304 non-null   object
 21  Sample Collection Date                        1304 non-null   datetime64[ns]
 22   Time For Sample Collection MM                1304 non-null   int64
 23  Time Agent-Pathlab sec                        1304 non-null   float64
 24  Agent Arrival Time (range) HH:MM              1304 non-null   object
 25  Exact Arrival Time MM                         1304 non-null   int64
dtypes: datetime64[ns](2), float64(1), int64(8), object(15)
memory usage: 265.0+ KB

In [ ]:
#Checking for null values
data.isnull().sum()

Sr_No.                                          0
Patient ID                                      0
Agent ID                                        0
pincode                                         0
patient location                                0
Latitudes and Longitudes (Patient)              0
Latitudes and Longitudes (Agent)                0
Latitudes and Longitudes (Diagnostic Center)    0
Diagnostic Centers                              0
Time slot                                       0
shortest distance Agent-Pathlab(m)              0
shortest distance Patient-Pathlab(m)            0
shortest distance Patient-Agent(m)              0
Availabilty time (Patient)                      0
Age                                             0
Gender                                          0
Test Booking Date                               0
Test Booking Time HH:MM                         0
Test name                                       0
Sample                                          0
Way Of Storage Of Sample                        0
Sample Collection Date                          0
 Time For Sample Collection MM                  0
Time Agent-Pathlab sec                          0
Agent Arrival Time (range) HH:MM                0
Exact Arrival Time MM                           0
dtype: int64

In [ ]:
#Checking for Duplicate Values
data.duplicated().sum()

0

In [ ]:
#Assigning no. to columns
i=0
for a in data.columns :
  print(a+"-"+str(i))
  i = i+1

Sr_No.-0
Patient ID-1
Agent ID-2
pincode-3
patient location-4
Latitudes and Longitudes (Patient)-5
Latitudes and Longitudes (Agent)-6
Latitudes and Longitudes (Diagnostic Center)-7
Diagnostic Centers-8
Time slot-9
shortest distance Agent-Pathlab(m)-10
shortest distance Patient-Pathlab(m)-11
shortest distance Patient-Agent(m)-12
Availabilty time (Patient)-13
Age-14
Gender-15
Test Booking Date-16
Test Booking Time HH:MM-17
Test name-18
Sample-19
Way Of Storage Of Sample-20
Sample Collection Date-21
 Time For Sample Collection MM-22
Time Agent-Pathlab sec-23
Agent Arrival Time (range) HH:MM-24
Exact Arrival Time MM-25

In [ ]:
#Droping Irrelevant Columns
ndata = data.drop(data.columns[[0,6,7,9,10,12,15,14,16,17,20,22,23,24,25]], axis = 1)
ndata.head()

,Patient ID,Agent ID,pincode,patient location,Latitudes and Longitudes (Patient),Diagnostic Centers,shortest distance Patient-Pathlab(m),Availabilty time (Patient),Test name,Sample,Sample Collection Date
0,MD1001,26,500019,Serilingampalle (M),"17.480944, 78.321500",Medquest Diagnostics Center,2840,09:00 to 10:00,Vitamin B-12,Blood,2022-01-02
1,MD1002,40,500084,Serilingampalle (M),"17.482750, 78.340586",Medquest Diagnostics Center,1378,19:00 to 20:00,HbA1c,Blood,2022-01-03
2,MD1003,19,502032,Ramachandrapuram,"17.518403, 78.310165",Medquest Diagnostics Center,4458,14:00 to 15:00,CBC,Blood,2022-01-04
3,MD1004,45,500049,Miyapur,"17.511200, 78.357393",Medquest Diagnostics Center,2316,21:00 to 22:00,Vitamin D-25Hydroxy,Blood,2022-01-05
4,MD1005,12,500090,Nizampet,"17.503342, 78.384344",Medquest Diagnostics Center,4377,13:00 to 14:00,TSH,Blood,2022-01-06

In [ ]:
#Data filtering as per scheduled date
x = input('enter the date to get the schedule : ')

enter the date to get the schedule : 2022-01-06 00:00:00

In [ ]:
ddata = ndata[ndata['Sample Collection Date']==x]
fdata = ddata.copy()
fdata.head()

,Patient ID,Agent ID,pincode,patient location,Latitudes and Longitudes (Patient),Diagnostic Centers,shortest distance Patient-Pathlab(m),Availabilty time (Patient),Test name,Sample,Sample Collection Date
4,MD1005,12,500090,Nizampet,"17.503342, 78.384344",Medquest Diagnostics Center,4377,13:00 to 14:00,TSH,Blood,2022-01-06
171,VV1020,31,500033,Kavuri hills,"17.437140005016737, 78.39611697831434",Vivaa Diagnostic Center,393,19:00 to 20:00,Vitamin D-25Hydroxy,Blood,2022-01-06
341,MFD1039,39,500019,Kukatpally,"17.498354, 78.398428",Medifine Diagnostic Center,1554,09:00 to 10:00,Fasting blood sugar,Blood,2022-01-06
508,LMD1044,48,500090,KNR Grn Vly Rd,"17.523035, 78.378181",Lucid Medical Diagnostics,12294,11:00 to 12:00,CBC,Blood,2022-01-06
675,VD1066,36,500081,Madhapur,"17.4565155452, 78.375836025",Vijaya Diagnostic Center,0,20:00 to 21:00,Lipid Profile,Blood,2022-01-06

In [ ]:
ddata.shape

(8, 11)

In [ ]:
#Clustering data on the basis of no. of agents available
y = int(input('enter the number of agents (should be less than '+str(round(ddata.shape[0]/2))+') : '))

enter the number of agents (should be less than 4) : 3

In [ ]:
#Performing label encoding for categorical data
from sklearn.preprocessing import LabelEncoder

lab  = LabelEncoder()

ddata['patient location'] = lab.fit_transform(ddata['patient location'])
ddata['Diagnostic Centers'] = lab.fit_transform(ddata['Diagnostic Centers'])
ddata['Availabilty time (Patient)'] = lab.fit_transform(ddata['Availabilty time (Patient)']) 
ddata['Test name'] = lab.fit_transform(ddata['Test name'])
ddata['Sample'] = lab.fit_transform(ddata['Sample'])
ddata.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,Patient ID,Agent ID,pincode,patient location,Latitudes and Longitudes (Patient),Diagnostic Centers,shortest distance Patient-Pathlab(m),Availabilty time (Patient),Test name,Sample,Sample Collection Date
4,MD1005,12,500090,6,"17.503342, 78.384344",3,4377,2,3,0,2022-01-06
171,VV1020,31,500033,2,"17.437140005016737, 78.39611697831434",5,393,3,4,0,2022-01-06
341,MFD1039,39,500019,3,"17.498354, 78.398428",2,1554,0,1,0,2022-01-06
508,LMD1044,48,500090,1,"17.523035, 78.378181",1,12294,1,0,0,2022-01-06
675,VD1066,36,500081,5,"17.4565155452, 78.375836025",4,0,4,2,0,2022-01-06

In [ ]:
cluster = ddata[['patient location','Diagnostic Centers','shortest distance Patient-Pathlab(m)','Availabilty time (Patient)']]
cluster.head(10)

,patient location,Diagnostic Centers,shortest distance Patient-Pathlab(m),Availabilty time (Patient)
4,6,3,4377,2
171,2,5,393,3
341,3,2,1554,0
508,1,1,12294,1
675,5,4,0,4
845,0,1,1292,5
1012,4,4,16262,0
1179,7,0,7630,4

In [ ]:
#Performing Standardization on data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled = scaler.fit_transform(cluster)
cluster = pd.DataFrame(scaled)
cluster.columns=['patient location','Diagnostic Centers','shortest distance Patient-Pathlab(m)','Availabilty time (Patient)']
cluster.head()

,patient location,Diagnostic Centers,shortest distance Patient-Pathlab(m),Availabilty time (Patient)
0,0.857143,0.6,0.269155,0.4
1,0.285714,1.0,0.024167,0.6
2,0.428571,0.4,0.095560,0.0
3,0.142857,0.2,0.755996,0.2
4,0.714286,0.8,0.000000,0.8

In [ ]:
#Using K-means Clustering to create cluster
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=y,random_state=0)

kmeans.fit(cluster)

labels = kmeans.labels_
ddata["Agent_id"]=labels
fdata["Agent_id"]=labels
ddata.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,Patient ID,Agent ID,pincode,patient location,Latitudes and Longitudes (Patient),Diagnostic Centers,shortest distance Patient-Pathlab(m),Availabilty time (Patient),Test name,Sample,Sample Collection Date,Agent id,Agent_id
4,MD1005,12,500090,6,"17.503342, 78.384344",3,4377,2,3,0,2022-01-06,2,2
171,VV1020,31,500033,2,"17.437140005016737, 78.39611697831434",5,393,3,4,0,2022-01-06,0,0
341,MFD1039,39,500019,3,"17.498354, 78.398428",2,1554,0,1,0,2022-01-06,2,2
508,LMD1044,48,500090,1,"17.523035, 78.378181",1,12294,1,0,0,2022-01-06,1,1
675,VD1066,36,500081,5,"17.4565155452, 78.375836025",4,0,4,2,0,2022-01-06,0,0

In [ ]:
#Sorting the data
z = int(input("enter the Agent_ID assigned : "))

enter the Agent_ID assigned : 2

(8, 13)

In [ ]:
agent_data = fdata[fdata['Agent_id']==z]
agent_data.index = range(agent_data.shape[0])
agent_data

,Patient ID,Agent ID,pincode,patient location,Latitudes and Longitudes (Patient),Diagnostic Centers,shortest distance Patient-Pathlab(m),Availabilty time (Patient),Test name,Sample,Sample Collection Date,Agent id,Agent_id
0,MD1005,12,500090,Nizampet,"17.503342, 78.384344",Medquest Diagnostics Center,4377,13:00 to 14:00,TSH,Blood,2022-01-06,2,2
1,MFD1039,39,500019,Kukatpally,"17.498354, 78.398428",Medifine Diagnostic Center,1554,09:00 to 10:00,Fasting blood sugar,Blood,2022-01-06,2,2
2,DD1109,28,500034,Venkat Nagar,"17.423184117237312, 78.43397783429185",Diamond Diagnostic Center,7630,20:00 to 21:00,TSH,Blood,2022-01-06,2,2

In [ ]:
t = agent_data.shape[0]
agent_data['avail']=0
for i in range(t):
  agent_data["avail"][i]=int(agent_data['Availabilty time (Patient)'][i].split('to')[0].strip().split(':')[0])

agent_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Patient ID,Agent ID,pincode,patient location,Latitudes and Longitudes (Patient),Diagnostic Centers,shortest distance Patient-Pathlab(m),Availabilty time (Patient),Test name,Sample,Sample Collection Date,Agent id,Agent_id,avail
0,MD1005,12,500090,Nizampet,"17.503342, 78.384344",Medquest Diagnostics Center,4377,13:00 to 14:00,TSH,Blood,2022-01-06,2,2,13
1,MFD1039,39,500019,Kukatpally,"17.498354, 78.398428",Medifine Diagnostic Center,1554,09:00 to 10:00,Fasting blood sugar,Blood,2022-01-06,2,2,9
2,DD1109,28,500034,Venkat Nagar,"17.423184117237312, 78.43397783429185",Diamond Diagnostic Center,7630,20:00 to 21:00,TSH,Blood,2022-01-06,2,2,20

In [ ]:
#Sorting agent data on shortest distance between agent and lab
Adata = agent_data.sort_values(['avail', 'shortest distance Patient-Pathlab(m)'],ascending=[1,1])
Adata

,Patient ID,Agent ID,pincode,patient location,Latitudes and Longitudes (Patient),Diagnostic Centers,shortest distance Patient-Pathlab(m),Availabilty time (Patient),Test name,Sample,Sample Collection Date,Agent id,Agent_id,avail
1,MFD1039,39,500019,Kukatpally,"17.498354, 78.398428",Medifine Diagnostic Center,1554,09:00 to 10:00,Fasting blood sugar,Blood,2022-01-06,2,2,9
0,MD1005,12,500090,Nizampet,"17.503342, 78.384344",Medquest Diagnostics Center,4377,13:00 to 14:00,TSH,Blood,2022-01-06,2,2,13
2,DD1109,28,500034,Venkat Nagar,"17.423184117237312, 78.43397783429185",Diamond Diagnostic Center,7630,20:00 to 21:00,TSH,Blood,2022-01-06,2,2,20

In [ ]:
#Data for agent for Sample Collection
first_column = Adata.pop('Availabilty time (Patient)')
Adata.insert(0, 'Availabilty time (Patient)', first_column)
Adata = Adata.drop(Adata.columns[[9]], axis = 1)
Adata

,Availabilty time (Patient),Patient ID,Agent ID,pincode,patient location,Latitudes and Longitudes (Patient),Diagnostic Centers,Test name,Sample,avail
1,09:00 to 10:00,MFD1039,39,500019,Kukatpally,"17.498354, 78.398428",Medifine Diagnostic Center,Fasting blood sugar,Blood,9
0,13:00 to 14:00,MD1005,12,500090,Nizampet,"17.503342, 78.384344",Medquest Diagnostics Center,TSH,Blood,13
2,20:00 to 21:00,DD1109,28,500034,Venkat Nagar,"17.423184117237312, 78.43397783429185",Diamond Diagnostic Center,TSH,Blood,20